* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    margin: 0;

}

.container1 {
    background-image: url(/background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    position: relative;



}

span {

    color: blue;
    background-color: rgb(24, 191, 88);
    border-radius: 10rem;


}


#menu {
    text-align: center;
    margin: 0;
}

.nav-tool {

    display: flex;
    justify-content: space-around;
    margin-left: 50%;

    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    position: fixed;
    font-size: large;


}





a {
    text-decoration: none;
}

a:visited {
    color: rgb(20, 23, 18);
}

a:hover {
    color: brown;
}

.homesection {
    background-color: rgba(255, 127, 80, 0.47);
    height: 90vh;
    width: 35vw;
    text-align: center;
    min-width: min-content;

}




.food img {
    width: 30vw;
    height: 30vh;
    border-radius: 30%;
}

.container2 {
    background-color: rgba(144, 99, 62, 0.897);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100wh;
    text-align: center;



}

.food {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    color: blue;

}

.food1 {

    color: black;
    padding-bottom: 0%;
}

.food1:hover {
    border-style: solid;
    color: rgb(113, 8, 13);
    transform: scale(1.2);
    background-color: aliceblue;
}





.container3 {
    background-color: rgba(113, 74, 25, 0.877);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100wh;

    position: relative;
    text-align: center;
    color: rgb(72, 41, 156);
}

#faq {
    height: 59vh;
}

#faq:hover {
    color: aqua;

}

#faq1 {
    margin: 0;
}

#terms {
    text-align: center;
    font-size: larger;


}

.container4 {
    background-image: url(/background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    width: 100wh;

    position: relative;
    text-align: center;
    font-size: x-large;
}

#contact {
    margin: 0%;
}

.container4:hover {

    font-style: normal;
    color: aqua;
}

#name1:hover {

    transition-duration: 3000ms;
    background-color: brown;
}

#email1:hover {
    transition-duration: 3000ms;
    background-color: brown;

}

.texterea1:hover {
    transition-duration: 3000ms;
    background-color: brown;

}

/* psudo */
#first-button:hover {
    background-color: aquamarine;
    transition-duration: 3000ms;

}





@media only screen and (max-width:400px) {
    .homesection {

        height: 80vh;
        width: 50vw;
    }


}



@media only screen and (max-width:560px) {
    #faq2 {
        font-size: 60%;
    }
}

@media only screen and (max-width:400px) {
    .nav-tool {
        margin-right: 30%;
        font-size: small;
    }
}