* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    margin: 0;

}

.container1 {
    background-image: url(/background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    position: relative;



}



#first-button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

span {

    background: #f79d00;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #64f38c, #f79d00);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #64f38c, #f79d00);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}


#menu {
    text-align: center;
    margin: 0;
}

.nav-tool {

    display: flex;
    justify-content: space-around;
    margin-left: 50%;

    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    position: fixed;
    font-size: large;


}





a {
    text-decoration: none;
}

a:visited {
    color: rgb(20, 23, 18);
}

a:hover {
    color: brown;
}

.homesection {
    background: #a80077;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #66ff008crgba(168, 0, 118, 0.488)77);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #66ff0072, #a80076b3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 90vh;
    width: 35vw;
    text-align: center;
    min-width: min-content;


}





.food img {
    width: 30vw;
    height: 30vh;
    border-radius: 30%;
}

.container2 {
    background: #BA8B02;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #181818, #BA8B02);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #181818, #BA8B02);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100wh;
    text-align: center;



}



.food {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    color: blue;

}

.food1 {

    color: black;
    padding-bottom: 0%;
}

.food1:hover {
    border-style: solid;
    color: rgb(113, 8, 13);
    transform: scale(1.2);
    background: #C02425;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F0CB35, #C02425);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F0CB35, #C02425);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}





.container3 {
    background: #BA8B02;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #181818, #BA8B02);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #181818, #BA8B02);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100wh;

    position: relative;
    text-align: center;
    color: rgb(72, 41, 156);
}

#faq {
    height: 59vh;
}

#faq:hover {
    color: aqua;

}

#faq1 {
    margin: 0;
}

#terms {
    text-align: center;
    font-size: larger;


}

.container4 {
    background-image: url(/background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    width: 100wh;

    position: relative;
    text-align: center;
    font-size: x-large;
}

#contact {
    margin: 0%;
}

.container4:hover {

    font-style: normal;
    color: aqua;
}

#name1:hover {

    transition-duration: 3000ms;
    background-color: brown;
}

#email1:hover {
    transition-duration: 3000ms;
    background-color: brown;

}

.texterea1:hover {
    transition-duration: 3000ms;
    background-color: brown;

}






@media only screen and (max-width:400px) {
    .homesection {

        height: 80vh;
        width: 50vw;
    }


}



@media only screen and (max-width:560px) {
    #faq2 {
        font-size: 60%;
    }
}

@media only screen and (max-width:400px) {
    .nav-tool {
        margin-right: 30%;
        font-size: small;
    }
}